.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(226, 221, 221);
    color: rgb(73, 70, 70);
    text-align: center;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}